.wrapper {
    display: flex;
    background-color: white;
    height: 48px;
    align-items: center;
    border-bottom: 1px solid #5f6368;
}

.name{
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    color: #5f6368;
    flex-grow: 1;
}

.day{
    font-family: 'Roboto', RobotoDraft, Arial, sans-serif;
    font-size: 14px;
    color: black;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 7px;
}

.day:hover{
    background-color: rgb(246, 244, 244);
    }


.arrow{
    margin: 7px 12px 5px 12px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
    color: #3c4043;
}

.date{
    color: #3c4043;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    white-space: nowrap;
}

.col{
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo > img{
  margin-right: 10px;
 
} 