.TaskControlModalWindow {
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 105px;
    z-index: 1000;
    background-color: #c8c8c8;
}

.active {
    border: 2px solid white;
}