.task {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 6;
    opacity: 0.4;
    top: 0px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: move;
    -webkit-user-select: none;
    -webkit-transition: background-color 0.3s;
}

.taskBorder {
    width: 100%;
    height: 20px;
    opacity: 1;
    position: absolute;
    bottom: -10px;
    cursor: s-resize;
}